{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Request list
{% endblock %}
{% block judgerequest_active %}
    class="active"
{% endblock %}
{% block content %}
    <div align="center" class="jumbotron container img-rounded blue">
<h2>Your last judge requests</h2>
    </br>
<table class="table table-hover table-responsive table" style="background-color: white">
    <thead>
        <th>Feature</th>
        <th>Status</th>
        <th>Passed</th>
        <th>score</th>
    </thead>
    <tbody>
        {% for judge_request in judge_requests %}
            <tr>
                <td> <a href="{% url 'features:feature' pk=judge_request.feature.id %}">{{ judge_request.feature }}</a></td>
                <td><b>{% if judge_request.is_closed %}
                    closed
                    {% else %}testing...{% endif %}</b></td>
                <td><span class="glyphicon {% if judge_request.is_passed %}glyphicon-ok" style="color:green"{% elif judge_request.is_closed %}glyphicon-remove" style="color:red"{% else %}glyphicon-question-sign" {% endif %}>
                    {% if judge_request.is_closed and not judge_request.is_passed %}
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Info</button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog" style="color: black">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Info</h4>
                            </div>
                            <div class="modal-body">
                              <p>{{ judge_request.message }}</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>

                    {% endif %}
                    </span></td>
                <td>{{ judge_request.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </br>
<h2>Submit a new judge request</h2>
    </br>
    <div class="form-horizontal col-sm-offset-3 col-sm-6">
<form method="post">
    {% csrf_token %}
        {% if form.feature.errors %}
            <div class="alert alert-danger alert-dismissable fade in" style="text-align: left">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ form.feature.errors }}
            </div>
        {% endif %}
    <div class="form-group">
    <label class="control-label col-xs-2" for="id_feature">Feature</label>
    <div class="col-xs-10">{{ form.feature|add_class:'form-control' }}</div>
        </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Submit new request</button>
    </div>
</form>
        </div>
    </div>
{% endblock %}