    th {
        text-align: center;
    }
    td{
      text-align: center;
    }
    h1{
        color:white;
    }
    h2{
        color:white;
    }
    h3{
        color:white;
    }
    label{
        color:white;
    }
    .blue {
        background-color: #33333d;
    }
    .jumbotron{
        padding-top: 10px;
        padding-bottom: 10px;
    }
.navbar-default {
  background-color: #54546d;
  border-color: #33333d;
}
.navbar-default .navbar-brand {
  color: #d7d7d8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #d7d7d8;
}
.navbar-default .navbar-nav > li > a {
  color: #d7d7d8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #33333d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #33333d;
}
.navbar-default .navbar-toggle {
  border-color: #33333d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #33333d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d7d7d8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d7d7d8;
}
.navbar-default .navbar-link {
  color: #d7d7d8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7d7d8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #33333d;
  }
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* source: https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.human-container{
    background-color: white;
    border: #CC4144 ridge 4px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 25px 35px -20px rgba(0,0,0,1);
    transition: all .4s ease;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 10px;
}

.human-container:hover{
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 60px 40px -40px rgba(0,0,0,0.13);
}

.human-picture {
    position: relative;
    text-align: center;
}

.human-picture:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

@media (max-width: 767px) {
    .human-picture img {
        width: 100%;
    }
}

.human-name{
    margin-top: 8px;
    text-align: center;
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.human-roles{
    direction: rtl;
    text-align: center;
    color: black;
    font-size: 13px;
}
