{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}دست‌اندرکاران وبلوپرز{% endblock %}

{% block static %}
    {{ block.super }}
    <link href="{% static 'home/css/creative.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'intro:home' %}" class="navbar-brand navbar-left"><img src="{% static 'images/name-2018.png' %}"></a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h1 class="title">عوامل برگزاری وبلوپرز ۲۰۱۸</h1>
        </div>
        {% for staff in staffs %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="human-container">
                <div class="human-picture">
                    {% if staff.picture %}
                        {% thumbnail staff.picture "400x400" crop="center" as image %}
                            <img class="img-responsive" src="{{ image.url }}" alt=""/>
                        {% endthumbnail %}
                    {% else %}
                        <img class="img-responsive" src="{% static 'images/default-avatar.png' %}" width="400"
                             height="400" alt=""/>
                    {% endif %}
                </div>
                <!--Image end -->
                    <p class="human-name">{{ staff.name }}</p>
                    <p class="human-roles">{{ staff.roles }}</p>
                <!-- Info end -->
            </div>
            <!-- Speaker end -->
        </div>
        {% endfor %}

        <!-- Content row 2 end -->
    </div>
    <!--/ Container end -->
{% endblock %}